@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include justify(space-around);
    @include align;
    font-size: pxTorem(16px);
    background: #A99A85;
    color: #fff;
}

section {
    background: #A99A85;
    width: 100%;
    padding: 0 pxTorem(15px);
    @include sizing;
    @include flex;
    @include box_flex;
    @include justify;
    @include align;
    div {
        font-size: pxTorem(22px);
        @include box_flex;
        @include justify;
        @include align;
    }
}

footer {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include justify(space-around);
    @include align;
    font-size: pxTorem(16px);
    background: #A99A85;
    color: #fff;
}